<%- include ('../partials/header') %>

<div class="container my-5">
  <header>
    <h1>Edit: <%= formBook.bookName %></h1>
  </header>
  <hr />

  <div>
    <%- include ('./_form', { actionPath: '/books/update' }) %>
  </div>
</div>

<%- include ('../partials/footer') %>
