<%- include ('../partials/header') %>

<div class="container my-5">
  <header>
    <h1>Edit: <%= formData.bookName %></h1>
  </header>
  <hr />

  <div>
    <%- include ('./_form', { actionPath: '/datas/update' }) %>
  </div>
</div>

<%- include ('../partials/footer') %>
